body {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    
    color: #000000;
}

.main-title {
    font-size: 30px;
    line-height: 42px;
}

.subtitle {
    font-size: 14px;
    line-height: 18px;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
    
/*    background: #eee;*/
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*-----------------Стили главной страницы--------------------------*/

/*Шапка*/

.main-header {
    margin-bottom: 60px;
}

.main-header .navigation {
    float: left;
    width: 780px;
}

.main-header .user-block {
    float: right;
    width: 140px;
}

/*Основное содержание*/

.main-page .main-logo {
    width: 368px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: 27px;
}

.main-page .features {
    margin-bottom: 80px;
}

.features .item {
    float: left;
    width: 300px;
    margin-right: 20px;
}

.features .item:last-child {
    margin-right: 0;
}

.content-1 {
    padding: 50px 80px;
    margin-bottom: 35px;
}

.content-1 .content-left {
    float: left;
    width: 380px;
}

.content-1 .content-right {
    float: right;
    width: 340px;
}

.content-2 {
    padding: 50px 80px;
}

.content-2 .content-left {
    float: left;
    width: 380px;
}

.content-2 .content-right {
    float: right;
    width: 300px;
}

/*Подвал*/

.main-footer {
    margin-top: 65px;
    padding-top: 62px;
    padding-bottom: 42px;
    background: #ccc;
}

.main-footer .contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
}

.main-footer .social {
    float: left;
    width: 180px;
}

.main-footer .dev-by {
    float: right;
    width: 160px;
}

/*-----------------Стили страницы Магазина--------------------------*/

/*Шапка*/

.shop-header {
    background: black;
}

.shop-header .logo {
    width: 111px;
    height: 24px;
    float: left;
}

.shop-header .navigation {
    float: left;
    width: 620px;
}

.shop-header .user-block {
    float: right;
    width: 140px;
}

/*Основное содержание*/

.shop-page {
    padding-top: 55px;
    background: #f8f5f2;
}

.shop-page .main-title {
    margin: 0;
}

.shop-page .main-title {
    margin-bottom: 21px;
}

.shop-page .breadcrumbs {
    margin-bottom: 53px;
}

.shop-page .filter {
    width: 220px;
    float: left;
}

.shop-page .products {
    float: right;
    width: 700px;
}

.products .product-item {
    width: 220px;
    display: inline-block;
}

.shop-page .page-numbers {
    margin-left: 240px;
    padding-bottom: 49px;
}

.shop-page .content {
    margin-bottom: 45px;
}

/*Подвал*/

.shop-footer {
    background: gray;
    padding-top: 62px;
    padding-bottom: 42px;
}

.shop-footer .contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
}

.shop-footer .social {
    float: left;
    width: 180px;
}

.shop-footer .dev-by {
    float: right;
    width: 160px;
}

/*-----------------Стили страницы Товара магазина--------------------------*/

/*Шапка*/

.product-header {
    background: #eee;
}

.product-header .logo {
    float: left;
    width: 111px;
    height: 24px;
}

.product-header .navigation {
    float: left;
    width: 620px;
}

.product-header .user-block {
    float: right;
    width: 140px;
}

/*Основное содержание страницы*/

.product-page {
    background: #f8f5f2;
    padding-top: 57px;
    padding-bottom: 49px;
}

.product-page .main-title {
    margin: 0;
    margin-bottom: 21px;
}

.product-page .breadcrumbs {
    margin-bottom: 56px;
}

.product-page .content {
    
}

.product-page .gallery {
    width: 460px;
    float: left;
}

.gallery .pictures {
    margin: 0;
}

.product-page .content-right {
    float: right;
    width: 390px;
}

/*Подвал*/

.product-footer {
    background: #232323;
}

.product-footer .contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
}
.product-footer .social {    
    float: left;
    width: 180px;
}

.product-footer .dev-by {
    float: right;
    width: 160px;
}